@model RFIM_Web.Models.Invoice_Product

@{
    ViewData["Title"] = "CreateInvoiceStep2";
}

<div class="all-content-wrapper">
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="sparkline12-list">
                <div class="sparkline12-graph">
                    <div class="basic-login-form-ad">
                        <div class="row">
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                <div class="all-form-element-inner">
                                    <a asp-action="AddProductList" asp-controller="Invoice" class="btn btn-success" data-toggle="modal" data-target="#modal-product-list">Choose Product</a>
                                </div>
                                <div>
                                    <form asp-action="AddProductInvoice" enctype="multipart/form-data" id="frmCreateInvoice">
                                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                        <div class="form-group-inner">
                                            <div class="row">
                                                <div class="sparkline8-list">
                                                    <div class="sparkline8-hd">
                                                        <div class="main-sparkline8-hd">
                                                            <h1>Product List</h1>
                                                        </div>
                                                    </div>
                                                    <div class="sparkline8-graph">
                                                        <div class="static-table-list">
                                                            <table class="table" border="0">
                                                                <thead>
                                                                    <tr>
                                                                        <th>Product Id</th>
                                                                        <th>Product Name</th>
                                                                        <th>Quantity(Boxes)</th>
                                                                    </tr>
                                                                </thead>
                                                                <tbody>
                                                                    @using Microsoft.AspNetCore.Http
                                                                    @using RFIM_Web.Utils
                                                                    @using RFIM_Web.Models
                                                                    @using System.Collections.Generic
                                                                    @{if (Context.Session.Get<List<Product>>("listProduct") != null)
                                                                        {
                                                                            List<Product> listProduct = Context.Session.Get<List<Product>>("listProduct");
                                                                            foreach (var product in listProduct)
                                                                            {
                                                                                <tr>
                                                                                    <td>
                                                                                        @product.ProductId
                                                                                    </td>
                                                                                    <td>
                                                                                        @product.ProductName
                                                                                    </td>
                                                                                    <td>
                                                                                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                                                                                            <input asp-for="Quantity" name="listQuantity" class="form-control" value="1" min="1" />
                                                                                        </div>
                                                                                    </td>
                                                                                </tr>
                                                                            }
                                                                        }
                                                                        else
                                                                        {
                                                                            <tr>
                                                                                <td>
                                                                                    <div class="col-lg-9 col-md-9 col-sm-9 col-xs-12">
                                                                                        No Data
                                                                                    </div>
                                                                                </td>
                                                                                <td>
                                                                                    <div class="col-lg-9 col-md-9 col-sm-9 col-xs-12">
                                                                                        No Data
                                                                                    </div>
                                                                                </td>
                                                                                <td>
                                                                                    <div class="col-lg-9 col-md-9 col-sm-9 col-xs-12">
                                                                                        No Data
                                                                                    </div>
                                                                                </td>
                                                                            </tr>
                                                                        }
                                                                    }
                                                                </tbody>
                                                            </table>
                                                            @if (Context.Session.Get<List<Product>>("listProduct") == null)
                                                            {
                                                                <button class="btn btn-sm btn-primary login-submit-cs" type="submit" disabled>Finish</button>
                                                            }
                                                            else
                                                            {
                                                                <button class="btn btn-sm btn-primary login-submit-cs" type="submit">Finish</button>
                                                            }
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                            <div id="modal-product-list" aria-hidden="true" class="modal fade" role="dialog">
                                <div class="modal-dialog">
                                    <!-- Modal content-->
                                    <div class="modal-content">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


