@model RFIM_Web.Models.Invoice_Product

@{
    ViewData["Title"] = "CreateInvoice";
}

<div class="all-content-wrapper">
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="sparkline12-list">
                <div class="sparkline12-hd">
                    <div class="main-sparkline12-hd">
                        <h1>Create Receipt/Issue</h1>
                    </div>
                </div>
                <div class="sparkline12-graph">
                    <div class="basic-login-form-ad">
                        <div class="row">
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                <div class="all-form-element-inner">
                                    <form asp-action="CreateInvoice" enctype="multipart/form-data" id="frmCreateInvoice">
                                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                        <div class="form-group-inner">
                                            <div class="row">
                                                <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                                                    <label class="login2 pull-right pull-right-pro">Invoice Id</label>
                                                </div>
                                                <div class="col-lg-9 col-md-9 col-sm-9 col-xs-12">
                                                    <input asp-for="Invoice.InvoiceId" class="form-control" />
                                                    <span asp-validation-for="Invoice.InvoiceId" class="text-danger"></span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group-inner">
                                            <div class="row">
                                                <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                                                    <label class="login2 pull-right pull-right-pro">Date</label>
                                                </div>
                                                <div class="col-lg-9 col-md-9 col-sm-9 col-xs-12">
                                                    <input asp-for="Invoice.Date" class="form-control" />
                                                    <span asp-validation-for="Invoice.Date" class="text-danger"></span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group-inner">
                                            <div class="row">
                                                <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                                                    <label class="login2 pull-right pull-right-pro">Description</label>
                                                </div>
                                                <div class="col-lg-9 col-md-9 col-sm-9 col-xs-12">
                                                    <input asp-for="Invoice.Description" class="form-control" />
                                                    <span asp-validation-for="Invoice.Description" class="text-danger"></span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group-inner">
                                            <div class="row">
                                                <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                                                    <label class="login2 pull-right pull-right-pro">Type</label>
                                                </div>
                                                <div class="col-lg-9 col-md-9 col-sm-9 col-xs-12">
                                                    <select asp-for="Invoice.InvoiceTypeId" class="form-control" asp-items="ViewBag.InvoiceTypeId"></select>
                                                    <span asp-validation-for="Invoice.InvoiceTypeId" class="text-danger"></span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group-inner">
                                            <div class="login-btn-inner">
                                                <div class="row">
                                                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                                                    </div>
                                                    <div class="col-lg-9">
                                                        <div class="login-horizental cancel-wp pull-left">
                                                            <a class="btn btn-primary" style="margin: 10px 0;" href="javascript:addMore();"><i class="fas fa-plus"></i></a>
                                                            <a class="btn btn-primary" style="margin: 10px 0;" href="javascript:deleteMore();"><i class="fas fa-minus"></i></a>
                                                        </div>
                                                    </div>
                                                        
                                                </div>
                                            </div>
                                        </div>
                                            
                                        <div class="form-group-inner">
                                            <div class="row">
                                                <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                                                </div>
                                                <div class="col-lg-9 col-md-9 col-sm-9 col-xs-12">

                                                    <table id="cloneTable">
                                                        <thead>
                                                            <tr>
                                                                <th>
                                                                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                                                                        <label class="login2 pull-right pull-right-pro">Product</label>
                                                                    </div>
                                                                </th>
                                                                <th>
                                                                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                                                                        <label class="login2 pull-right pull-right-pro">Quantity</label>
                                                                    </div>
                                                                </th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            <tr>
                                                                <td>
                                                                    <div class="col-lg-9 col-md-9 col-sm-9 col-xs-12">
                                                                        <select asp-for="Product.ProductName" class="form-control" asp-items="ViewBag.ProductId" name="listProduct"></select>
                                                                        <span asp-validation-for="Product.ProductName" class="text-danger"></span>
                                                                    </div>
                                                                </td>
                                                                <td>
                                                                    <div class="col-lg-9 col-md-9 col-sm-9 col-xs-12">
                                                                        <input asp-for="Quantity" name="listQuantity" class="form-control" value="0" min="0" />
                                                                        <span asp-validation-for="Quantity" class="text-danger"></span>
                                                                    </div>
                                                                </td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>





                                        <div class="form-group-inner">
                                            <div class="login-btn-inner">
                                                <div class="row">
                                                    <div class="col-lg-3"></div>
                                                    <div class="col-lg-9">
                                                        <div class="login-horizental cancel-wp pull-left">
                                                            <button class="btn btn-sm btn-primary login-submit-cs" type="submit">Confirm</button>
                                                            <a class="btn btn-sm btn-primary login-submit-cs" asp-action="ListAllInvoice" asp-controller="Invoice">Cancel</a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    // <![CDATA[
    function addMore() {
        //copy the table row and clear the value of the input, then append the row to the end of the table
        $("#cloneTable tbody tr:first").clone(true).find("input").each(function () {
            $(this).val('');
        }).end().appendTo("#cloneTable");
    }
    function deleteMore() {
        $('#cloneTable tbody tr:last').remove().end().appendTo('#cloneTable')
    }
</script>
