@model RFIM_Web.Models.Invoice

<<<<<<< HEAD
<div class="modal-header">
    <a class="close" datadismiss="modal-user" asp-action="BackToInvoiceList" asp-controller="Invoice">&times;</a>
    <h4 class="modal-title">
        Can't delete invoice @Model.InvoiceId
    </h4>
</div>
<div class="modal-body form-horizontal">
    <div class="alert alert-danger alert-mg-b" role="alert">
<<<<<<< HEAD
        <div class="modal-header">
            <h4 class="modal-title">Invoice @Model.InvoiceId can only be deleted when it still be pending !!!</h4>
        </div>
=======
        <strong>Invoice @Model.InvoiceId can't be deleted since it already Done</strong>
=======
    <div class="modal-header">
        <a class="close" datadismiss="modal-user" asp-action="BackToInvoiceList" asp-controller="Invoice">&times;</a>
        <h4 class="modal-title">Invoice @Model.InvoiceId can't be deleted since it don't have "Pending" status</h4>
>>>>>>> dev_thinh3
>>>>>>> f16b3f82b53517ddfc47d8d18427b537023264d7
    </div>
</div>