@model RFIM_Web.Models.Invoice

<div class="modal-header">
    <a class="close" datadismiss="modal-user" asp-action="BackToInvoiceList" asp-controller="Invoice">&times;</a>
    <h4 class="modal-title">
        Can't delete invoice @Model.InvoiceId
    </h4>
</div>
<div class="modal-body form-horizontal">
    <div class="modal-header">
        <h4 class="modal-title" style="color:red">Invoice @Model.InvoiceId can only be deleted when it still be pending !!!</h4>
    </div>
</div>
