@model RFIM_Web.Models.User

<form asp-action="CreateUser" asp-controller="Admin" method="post">
    <div class="modal-header">
        <button type="button" class="close" datadismiss="modal-user">&times;</button>
        <h4 class="modal-title">Create User</h4>
    </div>
    <div class="modal-body form-horizontal">
        <div class="row">
            <div class="col-lg-12">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="Fullname" class="col-lg-3 col-sm-3 control-label"></label>
                    <div class="col-lg-9">
                        <input asp-for="Fullname" class="form-control"/>
                    </div>
                </div>
                <div class="form-group">
                    <label asp-for="Username" class="col-lg-3 col-sm-3 control-label"></label>
                    <div class="col-lg-9">
                        <input asp-for="Username" class="form-control" />
                    </div>
                </div>
                <div class="form-group">
                    <label asp-for="Password" class="col-lg-3 col-sm-3 control-label"></label>
                    <div class="col-lg-9">
                        <input asp-for="Password" class="form-control" />
                    </div>
                </div>
                <div class="form-group">
                    <label asp-for="Email" class="col-lg-3 col-sm-3 control-label"></label>
                    <div class="col-lg-9">
                        <input asp-for="Email" class="form-control" />
                    </div>
                </div>
                <div class="form-group">
                    <label asp-for="Status" class="col-lg-3 col-sm-3 control-label checkbox"></label>
                    <div class="col-lg-9">
                        <input asp-for="Status" />
                    </div>
                </div>
                <div class="form-group">
                    <label asp-for="Phone" class="col-lg-3 col-sm-3 control-label"></label>
                    <div class="col-lg-9">
                        <input asp-for="Phone" class="form-control" />
                    </div>
                </div>
                <div class="form-group">
                    <label asp-for="Role" class="col-lg-3 col-sm-3 control-label"></label>
                    <div class="col-lg-9">
                        @*@using RFIM_Web.ModelView
                        @await Html.PartialAsync("RoleSelect", (RoleSelectModel)ViewBag.RoleSelect)*@
                        <select asp-for="RoleId" asp-items="ViewBag.RoleId" class="form-control"></select>
                        <span asp-validation-for="RoleId" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group">
                    <label asp-for="Address" class="col-lg-3 col-sm-3 control-label"></label>
                    <div class="col-lg-9">
                        <input asp-for="Address" class="form-control" />
                    </div>
                </div>
                <div class="form-group">
                    <label asp-for="DateOfBirth" class="col-lg-3 col-sm-3 control-label"></label>
                    <div class="col-lg-9">
                        <input asp-for="DateOfBirth" class="form-control" />
                    </div>
                </div>
                <div class="form-group">
                    <label asp-for="Note" class="col-lg-3 col-sm-3 control-label"></label>
                    <div class="col-lg-9">
                        <input asp-for="Note" class="form-control" />
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary">Confirm</button>
        <button type="button" class="btn btn-default" datadismiss="modal">Cancel</button>
    </div>
</form>
@section Scripts {
    <script src="~/lib/jquery-validation/dist/jquery.validate.js"></script>
    <script src="~/lib/jquery-validation/dist/additional-methods.js"></script>

    <script>
        $(function () {

            function checkGmail(value, element) {
                var regex = /^[a-z]+@@gmail.com$/;
                return this.optional(element) || regex.test(value);
            }

            $.validator.addMethod("gmail", checkGmail, "Gmail format is wrong!!");

            $("#frmCreateUser").validate({
                rules: {
                    Fullname: { required: true, maxLength: 32 },
                    Username: { required: true, maxLength: 32 },
                    Password: { required: true, maxLength: 32 },
                    Email: { required: true, email: true, gmail: true },
                    Phone: { required: true },
                    DateOfBirth: { date: true }
                },
                messages: {
                    Fullname: { require: "Please input this field", maxLength: "Maximum 32 characters" },
                    Username: { require: "Please input this field", maxLength: "Maximum 32 characters" },
                    Password: { require: "Please input this field", maxLength: "Maximum 32 characters" },
                    Phone: { require: "Please input this field" }
                }
            });
        });
    </script>
}



