@model IEnumerable<RFIM_Web.Models.Product>
@{
    ViewData["Title"] = "Default";
}
<ul class="pagination">
    <li><a href="#">1</a></li>
    <li class="active"><a href="#">2</a></li>
    <li><a href="#">3</a></li>
    <li><a href="#">4</a></li>
    <li><a href="#">5</a></li>
</ul>
    
<ul class="h-list m-t" id="list_detail">
    @foreach (var product in Model)
    {
        <li><a asp-action="DetailProduct" asp-controller="Product" asp-route-id="@product.ProductId">@product.ProductId-@product.ProductName</a></li>
    }
</ul>
