@model IEnumerable<RFIM_Web.Models.Product>
@{
    ViewData["Title"] = "Default";
}
<div class="scroll">
    <ul class="h-list m-t" id="list_detail">
        @foreach (var product in Model)
        {
            <li><a asp-action="DetailProduct" asp-controller="Product" asp-route-id="@product.ProductId">@product.ProductId-@product.ProductName</a></li>
        }
    </ul>
</div>
