@model RFIM_Web.Models.Category

<form method="post" asp-action="DeleteCategory">
    <div class="modal-header">
        <button type="button" class="close" datadismiss="modal-category-delete">&times;</button>
        <h4 class="modal-title">Delete Category @Model.CategoryName</h4>
    </div>
    <div class="modal-body form-horizontal">
        Are you sure to delete Category <b>@Model.CategoryName</b>?
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary">Delete</button>
        <button type="button" class="btn btn-default" datadismiss="modal-user">Cancel</button>
    </div>
</form>