@model RFIM_Web.Models.Category

<form method="post" asp-action="DeleteCategory">
    <div class="modal-header">
        <a asp-action="BackToListCategory" class="close" datadismiss="modal-category-delete">&times;</a>
        <h4 class="modal-title">Deactive category @Model.CategoryName</h4>
    </div>
    <div class="modal-body form-horizontal">
        Are you sure you want to deactivate <b>@Model.CategoryName</b>?
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary">Deactive</button>
    </div>
</form>