@model RFIM_Web.Models.Shelf

<form method="post" asp-action="DeleteShelf">
    <div class="modal-header">
        <a class="close" datadismiss="modal-user" asp-action="BackToShelfList" asp-controller="Shelf">&times;</a>
        <h4 class="modal-title">Delete shelf @Model.ShelfId</h4>
    </div>
    <div class="modal-body form-horizontal">
        Are you sure to delete shelf <b>@Model.ShelfId</b>?
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary">Delete</button>
    </div>
</form>