@model RFIM_Web.Models.Shelf

<form method="post" asp-action="DeleteShelf">
    <div class="modal-header">
        <button type="button" class="close" datadismiss="modal-shelf-delete">&times;</button>
        <h4 class="modal-title">Delete shelf @Model.ShelfId</h4>
    </div>
    <div class="modal-body form-horizontal">
        Are you sure to delete shelf <b>@Model.ShelfId</b>?
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary">Delete</button>
        <button type="button" class="btn btn-default" datadismiss="modal-user">Cancel</button>
    </div>
</form>