<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - RFIM_Web</title>
    <!-- favicon
         ============================================ -->
    <link rel="shortcut icon" type="image/x-icon" href="~/lib_gui/img/favicon.ico">
    <!-- Bootstrap CSS
      ============================================ -->
    <link rel="stylesheet" href="~/lib_gui/css/bootstrap.min.css">
    <!-- Bootstrap CSS
       ============================================ -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">
    <!-- owl.carousel CSS
        ============================================ -->
    <link rel="stylesheet" href="~/lib_gui/css/owl.carousel.css">
    <link rel="stylesheet" href="~/lib_gui/css/owl.theme.css">
    <link rel="stylesheet" href="~/lib_gui/css/owl.transitions.css">
    <!-- animate CSS
        ============================================ -->
    <link rel="stylesheet" href="~/lib_gui/css/animate.css">
    <!-- normalize CSS
        ============================================ -->
    <link rel="stylesheet" href="~/lib_gui/css/normalize.css">
    <!-- meanmenu icon CSS
        ============================================ -->
    <link rel="stylesheet" href="~/lib_gui/css/meanmenu.min.css">
    <!-- main CSS
        ============================================ -->
    <link rel="stylesheet" href="~/lib_gui/css/main.css">
    <!-- morrisjs CSS
        ============================================ -->
    <link rel="stylesheet" href="~/lib_gui/css/morrisjs/morris.css">
    <!-- mCustomScrollbar CSS
        ============================================ -->
    <link rel="stylesheet" href="~/lib_gui/css/scrollbar/jquery.mCustomScrollbar.min.css">
    <!-- metisMenu CSS
        ============================================ -->
    <link rel="stylesheet" href="~/lib_gui/css/metisMenu/metisMenu-vertical.css">
    <link rel="stylesheet" href="~/lib_gui/css/metisMenu/metisMenu.min.css">
    <!-- forms CSS
      ============================================ -->
    <link rel="stylesheet" href="~/lib_gui/css/form/all-type-forms.css">
    <!-- style CSS
        ============================================ -->
    <link rel="stylesheet" href="~/lib_gui/style.css">
    <!-- responsive CSS
        ============================================ -->
    <link rel="stylesheet" href="~/lib_gui/css/responsive.css">
    <!-- modernizr JS
        ============================================ -->
    <!-- normalize CSS
        ============================================ -->
    <link rel="stylesheet" href="~/lib_gui/css/data-table/bootstrap-table.css">
    <link rel="stylesheet" href="~/lib_gui/css/data-table/bootstrap-editable.css">
    <!-- modals CSS
        ============================================ -->
    <link rel="stylesheet" href="~/lib_gui/css/modals.css">
<<<<<<< HEAD
    <!-- Preloader CSS
        ============================================ -->
    <link rel="stylesheet" href="~/lib_gui/css/preloader/preloader-style.css">
=======
    <!-- Jquerry and Jquerry Form Validator
        ============================================ -->
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery-form-validator/2.3.26/jquery.form-validator.min.js"></script>
>>>>>>> dev_thinh2
    <script src="~/lib_gui/js/vendor/modernizr-2.8.3.min.js"></script>
 
</head>
<body>

    @if (User.Identity.IsAuthenticated)
    {
        <div class="left-sidebar-pro">
            <nav id="sidebar" class="">
                <div class="sidebar-header">
                    <a href="index.html"><img class="main-logo" src="~/lib_gui/img/log.PNG" alt="" /></a>
                    <strong><img src="img/logo/logosn.png" alt="" /></strong>
                </div>
                <div class="left-custom-menu-adp-wrap comment-scrollbar">
                    <nav class="sidebar-nav left-sidebar-menu-pro">
                        <ul class="metismenu" id="menu1">

                            @if (User.IsInRole("Admin"))
                            {
                                <li class="active">
                                    <a class="has-arrow" href="index.html">
                                        <i class="fas fa-users"></i>
                                        <span class="mini-click-non">Staffs</span>
                                    </a>
                                    <ul class="submenu-angle" aria-expanded="true">

                                        <li><a asp-action="ListAllUser" asp-controller="Admin"><i class="fas fa-user" aria-hidden="true"></i> <span class="mini-sub-pro">All</span></a></li>
                                        <li><a asp-action="ListAccountant" asp-controller="Admin"><i class="fas fa-calculator" aria-hidden="true"></i> <span class="mini-sub-pro">Accountants</span></a></li>
                                        <li><a asp-action="ListStockkeeper" asp-controller="Admin"><i class="fas fa-warehouse" aria-hidden="true"></i> <span class="mini-sub-pro">Stock Keepers</span></a></li>
                                    </ul>
                                </li>
                            }
                            @if (User.IsInRole("Accountant"))
                            {
                                <li class="active">
                                    <a class="has-arrow" href="index.html">
                                        <i class="fas fa-file-invoice"></i>
                                        <span class="mini-click-non">Invoices</span>
                                    </a>
                                    <ul class="submenu-angle" aria-expanded="true">
                                        <li><a asp-action="" asp-controller=""><i class="fas fa-money-check" aria-hidden="true"></i> <span class="mini-sub-pro">Purchase Invoice</span></a></li>
                                        <li><a asp-action="" asp-controller=""><i class="fas fa-pager" aria-hidden="true"></i> <span class="mini-sub-pro">Receipt Invoice</span></a></li>
                                    </ul>
                                </li>
                            }
                            @if (User.IsInRole("Stockkeeper"))
                            {
                                <li>
                                    <a class="has-arrow">
                                        <i class="fas fa-money-check"></i>
                                        <span class="mini-click-non">Sheets</span>
                                    </a>
                                    <ul class="submenu-angle" aria-expanded="true">
                                        <li><a asp-action="" asp-controller=""><i class="fas fa-truck-moving" aria-hidden="true"></i> <span class="mini-sub-pro">Good Receipts</span></a></li>
                                        <li><a asp-action="" asp-controller=""><i class="fas fa-truck-loading" aria-hidden="true"></i> <span class="mini-sub-pro">Good Issues</span></a></li>
                                    </ul>
                                </li>
                                <li>
                                    <a asp-action="ListAllCategory" asp-controller="Category" class="has-arrow">
                                        <i class="fas fa-cube"></i>
                                        <span class="mini-click-non">Categories</span>
                                    </a>
                                </li>
                                <li>
                                    <a asp-action="ListAllProduct" asp-controller="Product" class="has-arrow">
                                        <i class="fas fa-boxes"></i>
                                        <span class="mini-click-non">Products</span>
                                    </a>
                                </li>
                                <li>
                                    <a asp-action="ListAllShelf" asp-controller="Shelf" class="has-arrow">
                                        <i class="fas fa-luggage-cart"></i>
                                        <span class="mini-click-non">Shelves</span>
                                    </a>
                                </li>
                                <li>
                                    <a asp-action="" asp-controller="" class="has-arrow">
                                        <i class="fas fa-chart-bar"></i>
                                        <span class="mini-click-non">Reports</span>
                                    </a>
                                </li>
                            }
                        </ul>
                    </nav>
                </div>
            </nav>
        </div>
        <!-- Start Welcome area -->
        <div class="all-content-wrapper">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <div class="logo-pro">
                            <a href="index.html"><img class="main-logo" src="img/log.PNG" alt="" /></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="header-advance-area">
                <div class="header-top-area">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                <div class="header-top-wraper">
                                    <div class="row">
                                        <div class="col-lg-1 col-md-0 col-sm-1 col-xs-12">
                                            <div class="menu-switcher-pro">
                                                <button type="button" id="sidebarCollapse" class="btn bar-button-pro header-drl-controller-btn btn-info navbar-btn">
                                                    <i class="fa fa-bars"></i>
                                                </button>
                                            </div>
                                        </div>
                                        <div class="col-lg-11 col-md-12 col-sm-12 col-xs-12">
                                            <div class="header-right-info">
                                                <ul class="nav navbar-nav mai-top-nav header-right-menu">
                                                    <li class="nav-item">
                                                        <a href="#" data-toggle="dropdown" role="button" aria-expanded="false" class="nav-link dropdown-toggle">
                                                            <i class="fa fa-user adminpro-user-rounded header-riht-inf" aria-hidden="true"></i>
                                                            <span class="admin-name">@User.Identity.Name</span>
                                                            <i class="fa fa-angle-down adminpro-icon adminpro-down-arrow"></i>
                                                        </a>
                                                        <ul role="menu" class="dropdown-header-top author-log dropdown-menu animated zoomIn">
                                                            <li>
                                                                <a asp-action="Logout" asp-controller="User"><span class="fa fa-lock author-log-ic"></span>Log Out</a>
                                                            </li>
                                                        </ul>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Mobile Menu start -->
                <div class="mobile-menu-area">
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                <div class="mobile-menu">
                                    <nav id="dropdown">
                                        <ul class="mobile-menu-nav">
                                            @if (User.IsInRole("Admin"))
                                            {
                                                <li>
                                                    <a data-toggle="collapse" data-target="#Charts">Staffs <span class="admin-project-icon adminpro-icon adminpro-down-arrow"></span></a>
                                                    <ul class="collapse dropdown-header-top">
                                                        <li><a>All</a></li>
                                                        <li><a>Accountant</a></li>
                                                        <li><a>Store Keeper</a></li>
                                                    </ul>
                                                </li>
                                            }
                                            @if (User.IsInRole("Accountant"))
                                            {
                                                <li>
                                                    <a data-toggle="collapse" data-target="#Charts">Invoice <span class="admin-project-icon adminpro-icon adminpro-down-arrow"></span></a>
                                                    <ul class="collapse dropdown-header-top">
                                                        <li><a>Purchase Invoice</a></li>
                                                        <li><a>Receipt Invoice</a></li>
                                                    </ul>
                                                </li>
                                            }
                                            @if (User.IsInRole("Stockkeeper"))
                                            {
                                                <li>
                                                    <a data-toggle="collapse" data-target="#Charts">Sheets <span class="admin-project-icon adminpro-icon adminpro-down-arrow"></span></a>
                                                    <ul class="collapse dropdown-header-top">
                                                        <li><a>Good Receipts</a></li>
                                                        <li><a>Good Issues</a></li>
                                                    </ul>
                                                </li>
                                                <li>
                                                    <a data-toggle="collapse" data-target="#Charts">Categories <span class="admin-project-icon adminpro-icon adminpro-down-arrow"></span></a>
                                                </li>
                                                <li>
                                                    <a data-toggle="collapse" data-target="#Charts">Products <span class="admin-project-icon adminpro-icon adminpro-down-arrow"></span></a>
                                                </li>
                                                <li>
                                                    <a data-toggle="collapse" data-target="#Charts">Shelves <span class="admin-project-icon adminpro-icon adminpro-down-arrow"></span></a>
                                                </li>
                                                <li>
                                                    <a data-toggle="collapse" data-target="#Charts">Reports <span class="admin-project-icon adminpro-icon adminpro-down-arrow"></span></a>
                                                </li>
                                            }
                                        </ul>
                                    </nav>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Mobile Menu end -->
                <div class="breadcome-area">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                <div class="breadcome-list">

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
    else
    {
        await Html.PartialAsync("Login");
    }
 
    @RenderBody()



    <!-- jquery
            ============================================ -->
    <script src="~/lib_gui/js/vendor/jquery-1.11.3.min.js"></script>
    <!-- bootstrap JS
          ============================================ -->
    <script src="~/lib_gui/js/bootstrap.min.js"></script>
    <!-- wow JS
          ============================================ -->
    <script src="~/lib_gui/js/wow.min.js"></script>
    <!-- price-slider JS
          ============================================ -->
    <script src="~/lib_gui/js/jquery-price-slider.js"></script>
    <!-- meanmenu JS
          ============================================ -->
    <script src="~/lib_gui/js/jquery.meanmenu.js"></script>
    <!-- owl.carousel JS
          ============================================ -->
    <script src="~/lib_gui/js/owl.carousel.min.js"></script>
    <!-- sticky JS
          ============================================ -->
    <script src="~/lib_gui/js/jquery.sticky.js"></script>
    <!-- scrollUp JS
          ============================================ -->
    <script src="~/lib_gui/js/jquery.scrollUp.min.js"></script>
    <!-- mCustomScrollbar JS
          ============================================ -->
    <script src="~/lib_gui/js/scrollbar/jquery.mCustomScrollbar.concat.min.js"></script>
    <script src="~/lib_gui/js/scrollbar/mCustomScrollbar-active.js"></script>
    <!-- metisMenu JS
          ============================================ -->
    <script src="~/lib_gui/js/metisMenu/metisMenu.min.js"></script>
    <script src="~/lib_gui/js/metisMenu/metisMenu-active.js"></script>
    <!-- tab JS
          ============================================ -->
    <script src="~/lib_gui/js/tab.js"></script>
    <!-- icheck JS
          ============================================ -->
    <script src="~/lib_gui/js/icheck/icheck.min.js"></script>
    <script src="~/lib_gui/js/icheck/icheck-active.js"></script>
    <!-- plugins JS
          ============================================ -->
    <script src="~/lib_gui/js/plugins.js"></script>
    <!-- data table JS
    ============================================ -->
    <script src="~/lib_gui/js/data-table/bootstrap-table.js"></script>
    <script src="~/lib_gui/js/data-table/tableExport.js"></script>
    <script src="~/lib_gui/js/data-table/data-table-active.js"></script>
    <script src="~/lib_gui/js/data-table/bootstrap-table-editable.js"></script>
    <script src="~/lib_gui/js/data-table/bootstrap-editable.js"></script>
    <script src="~/lib_gui/js/data-table/bootstrap-table-resizable.js"></script>
    <script src="~/lib_gui/js/data-table/colResizable-1.5.source.js"></script>
    <script src="~/lib_gui/js/data-table/bootstrap-table-export.js"></script>
    <!-- main JS
          ============================================ -->
    <script src="~/lib_gui/js/main.js"></script>
    @RenderSection("Scripts", required: false)


</body>
</html>
