@model RFIM_Web.ModelView.CategorySelect

@{
    int categorySelect = Model.Select.HasValue ? Model.Select.Value : 0;
}
<select name="CategoryId" class="form-control">
    <option value="0"></option>
    @{
        var dsCategory = Model.Data;
    }
    @foreach (var category in dsCategory)
    {
        <option value="@category.CategoryId">
            @category.CategoryName
        </option>
    }
</select>
<script>
    $(function () {
        $("select[name='CategoryId']").val(@categorySelect.ToString());
    });
</script>

