@model RFIM_Web.Models.Shelf

<form method="post" asp-action="DeleteShelf">
    <div class="modal-header">
        <button type="button" class="close" datadismiss="modal-user">&times;</button>
        <h4 class="modal-title">Delete user @Model.ShelfCode</h4>
    </div>
    <div class="modal-body form-horizontal">
        Are you sure to delete <b>@Model.ShelfCode</b>?
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary">Delete</button>
        <button type="button" class="btn btn-default" datadismiss="">Cancel</button>
    </div>
</form>

